<app-navegacion></app-navegacion>
<div class="contanier-fluid d-flex align-items-center py-5">
  <div id="Usuario" class="container w-75 pl-5 rounded">
    <div class="row align-items-center" *ngIf="authSvc.userData as user">
      <div class="col-md col-md-4 p-3">
        <img
          class="img-thumbnail rounded-circle w-75 mx-auto d-block"
          src="{{ user.photoURL ? user.photoURL : '/assets/img_24787.png' }}"
          alt="{{ user.displayName }}"
        />
      </div>
      <div class="col-sm p-3">
        <h1 class="h2">Perfil de Usuarios</h1>
        <div class="media-body">
          <form
            class="row g-3"
            (ngSubmit)="onSubmit()"
            [formGroup]="profileForm"
          >
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="inputEmail4"
                placeholder="Nombre"
                formControlName="displayName"
                [class]="isValidField('displayName')"
              />
              <div class="invalid-feedback">
                <span *ngIf="profileForm.get('displayName')?.errors?.required">
                  El campo non puede estar vacio
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="inputPassword4"
                placeholder="Apellido"
                formControlName="lastName"
                [class]="isValidField('lastName')"
              />
              <div class="invalid-feedback">
                <span *ngIf="profileForm.get('lastName')?.errors?.required">
                  El campo non puede estar vacio
                </span>
              </div>
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="inputAddress"
                formControlName="email"
                [class]="isValidField('email')"
              />
              <div class="invalid-feedback">
                <span *ngIf="profileForm.get('email')?.errors?.required">
                  El campo no puede estar vacio
                </span>
                <span *ngIf="profileForm.get('email')?.errors?.pattern">
                  Introduzca un email valido
                </span>
              </div>
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-danger">Editar</button>
            </div>
          </form>
          <h1>
            Bienvenido:
            <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
          </h1>
          <p>
            User ID: <strong>{{ user.uid }}</strong>
          </p>
          <p>
            Email: <strong>{{ user.email }}</strong>
          </p>
          <p>
            Email Verified: <strong>{{ user.emailVerified }}</strong>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-danger">Sign in</button>
      </div>
    </div> -->
  </div>
</div>
<button
  class="align-center btn btn-outline-danger"
  (click)="reloadCurrentPage()"
>
  Cargar mis rutinas
</button>
<div class="container mt-5" *ngFor="let item of rutinas$ | async">
  <mat-card class="example-card mat-elevation-z24 container-fluid">
    <mat-card-header class="d-flex align-items-center">
      <div
        class=""
        mat-card-avatar
        [ngStyle]="{
          'background-image': 'url(' + item.Owner_image + ')',
          'background-size': 'cover'
        }"
      ></div>
      <mat-card-title class="">{{ item.Owner_name }}</mat-card-title>
    </mat-card-header>
    <div class="row mb-3">
      <mat-divider></mat-divider>
    </div>
    <mat-card-content class="container-fluid">
      <div class="row">
        <div class="col-md col-md-2 item-card item-card-img text-center">
          <p class="h4">{{ item.name }}</p>
          <mat-card-subtitle
            >Descripcion: {{ item.description }}</mat-card-subtitle
          >
        </div>
        <div class="col-md-9 col-sm-11 item-card overflow-hidden">
          <div class="row row-cards">
            <div class="col-md-3" *ngFor="let z of item.exercises | keyvalue">
              <div class="card profile-card-1">
                <img src="{{ z.value['image'] }}" alt="" class="background" />
                <img
                  src="{{ z.value['image'] }}"
                  alt="profile-image"
                  class="profile"
                />
                <div class="card-content blockquote text-center">
                  <h2 class="">{{ z.value["name"] }}</h2>
                  <h3 class="blockquote-footer text-light">
                    {{ z.value["name"] }}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="
            mat-menu
            item-card
            col-sm-1
            btn
            d-flex
            justify-content-center
            align-items-center
            text-white
          "
        >
          <div class="my-auto">
            <button class="btn" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="text-warning" (click)="edit(item)">
                EDITAR
              </button>
              <button
                mat-menu-item
                class="text-danger"
                (click)="delete(item.$id)"
              >
                BORRAR
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <mat-divider></mat-divider>
      </div>
      <div class="row">
        <mat-chip-list>
          <div class="">
            <mat-label class="">Dificultad:</mat-label>
            <mat-chip class="bg-danger text-light me-2">{{
              item.dificultad
            }}</mat-chip>

            <mat-label class="">Duración:</mat-label>
            <mat-chip class="bg-danger text-light me-2">{{
              item.time
            }}</mat-chip>
            <!-- <mat-chip class="bg-danger text-light " *ngFor="let z of item.work_area | keyvalue">
              {{ z.value }}
            </mat-chip> -->
          </div>
        </mat-chip-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
