#Usuario {
  background: #d0d0ce;
  background: linear-gradient(to right, #ddcfc5, #ecece4);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.profile-card-1 {
  
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  border:none;
  border-radius: 30px;
}
.profile-card-1 .background {
  height: 150px;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-1 .card-content {
  
  z-index: 1;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}



  
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}
