@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
body{
    font-family: 'Teko', sans-serif;
     background: rgb(196, 22, 22); /* Fallback color */
      backdrop-filter: blur(5px);
}
input[type=file]::file-selector-button {
    display: none;
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

.formContainer {
    padding: 1.5em;
    box-shadow: 0 0 1em 0 rgba(51, 51, 51, 0.25);
    background: url(https://cdn.pixabay.com/photo/2020/07/04/14/27/woman-5369752_960_720.jpg)no-repeat center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}
.formContainer::before {
    content: '';
    width: 100%;
    height: 100%;

    background: linear-gradient(-40deg, rgba(255, 255, 255, 0) 87%, rgb(0 0 0 / 13%) 87.2%), linear-gradient(140deg, rgba(255, 255, 255, 0) 87%, rgb(0 0 0 / 13%) 87.2%);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
} 

.col-form {
    border-radius: 0.5em;
    background-color: rgba(0,0,0, 0.4);
    box-shadow: 0 0 1em 0 rgba(51, 51, 51, 0.25);
    overflow: hidden;
    padding: 2em;
    height: 100%;
    z-index: 1;
    color: white;
font-weight: bold;
}
.container-padre{
      font-family: 'Teko', sans-serif;
    height: 90vh;
    display: flex;
    align-items: center;
}
