<nav class="navbar navbar-expand-sm navbar-dark bg-danger navbar-rutinator">
  <div class="container-fluid">
    <a class="navbar-brand btn btn-outline-light brand-rutinator" href="#">RUTINATOR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Rutinas</a>
        </li>
        <li class="nav-item dropdown">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="authSvc.SignOut()">
            <i class="fas fa-sign-out-alt"></i>Log out
          </a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

    </div>
    <div class="float-right">
      <div *ngIf="authSvc.userData as user">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item btn">
            <a class="nav-link  text-white d-flex align-items-center m-0 p-0" (click)="onEdit(1)">
              <span class="mx-2 nav-link  m-0 p-0">
                {{ user.displayName ? user.displayName : "User" }}
              </span>
              <i class="m-0 p-0"><img class=" rounded-circle w-50 mx-auto m-0 p-0" src="{{
                                          user.photoURL ? user.photoURL : '/assets/img_24787.png'
                                        }}" alt="{{ user.displayName }}" /></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>