<app-navegacion></app-navegacion>

<mat-horizontal-stepper #stepper [linear]="isLinear">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" novalidate (ngSubmit)="saveData()">
      <ng-template matStepLabel>Datos de la Rutina</ng-template>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre de la Rutina</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="name"
          placeholder="Rutina quemagrasa"
          required
          [class]="isValidField('name')"
        />
        <div class="invalid-feedback">
          <span *ngIf="firstFormGroup.get('name')?.errors?.required">
            El campo no puede estar vacio
          </span>
          <span *ngIf="firstFormGroup.get('name')?.errors?.minlength">
            Introduzca un Nombre con mas de dos letras
          </span>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label"
          >Descripción de la Rutina</label
        >
        <textarea
          class="form-control"
          id="description"
          rows="3"
          formControlName="description"
          [class]="isValidField('description')"
        ></textarea>
      </div>
      <div>
        <label class="form-label" for="image"
          >Tiempo de Duración estimada</label
        >
      </div>
      <div class="input-group mb-3">
        <br />
        <input
          type="Number"
          class="form-control"
          id="tiempo"
          min="0"
          formControlName="time"
          [class]="isValidField('time')"
        />
        <label class="input-group-text bg-primary text-light" for="tiempo"
          >Tiempo</label
        >
      </div>

      <div>
        <label class="form-label" for="image">Dificultad</label>
      </div>
      <mat-slider
        thumbLabel
        formControlName="dificultad"
        [class]="isValidField('dificultad')"
        [displayWith]="formatLabel"
        tickInterval="1"
        step="1"
        min="0"
        max="10"
        aria-label="units"
      ></mat-slider>

      <div>
        <button
          mat-button
          matStepperNext
          class="btn btn-primary mt-5"
          type="submit"
          [disabled]="!firstFormGroup.valid"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ejercicios de la rutina</ng-template>
    <div class="container-fluid">
      <div class="row">
        <div class="container example-container col-12 col-md-4">
          <h2>Ejercicios disponibles</h2>

          <div
            cdkDropList
            #ejercicioList="cdkDropList"
            [cdkDropListData]="ej"
            [cdkDropListConnectedTo]="[rutinaList]"
            class="example-list list-ejercicios d-flex d-md-block"
            (cdkDropListDropped)="onDropped($event)"
          >
            <div class="example-box" *ngFor="let item of ej" cdkDrag>
              <div class="card profile-card-1">
                <div class="card-content text-center">
                  <div class="card profile-card-1">
                    <img src="{{ item.image }}" alt="" class="background" />
                    <img
                      src="{{ item.image }}"
                      alt="profile-image"
                      class="profile"
                    />
                    <div class="card-content blockquote text-center">
                      <h2 class="">{{ item.name }}</h2>
                      <h3 class="blockquote-footer text-light">
                        {{ item.name }}
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>

        <div class="example-container col-12 col-md-7">
          <h2>Ejercicios elegidos</h2>

          <div
            cdkDropList
            #rutinaList="cdkDropList"
            [cdkDropListData]="ejercicioRutina"
            [cdkDropListConnectedTo]="[ejercicioList]"
            class="example-list"
            (cdkDropListDropped)="onDropped($event)"
          >
            <div
              class="example-box bg-black w-100"
              *ngFor="let item of ejercicioRutina"
              cdkDrag
            >
              <div class="card profile-card-1">
                <div class="card-content text-center">
                  <div class="card profile-card-1">
                    <img src="{{ item.image }}" alt="" class="background" />
                    <img
                      src="{{ item.image }}"
                      alt="profile-image"
                      class="profile"
                    />
                    <div class="card-content blockquote text-center">
                      <h2 class="">{{ item.name }}</h2>
                      <h3 class="blockquote-footer text-light">
                        {{ item.name }}
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>

        <div class="col-1">
          <button
            mat-button
            matStepperNext
            class="btn btn-primary mt-5"
            (click)="guardarDatos()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Resumen</ng-template>
    <p>Ya has terminado, pulsa finalizar para crear la rutina.</p>

    <mat-card class="example-card mat-elevation-z24 container-fluid mb-4">
      <mat-card-content class="container-fluid">
        <div class="row">
          <div class="col-md col-md-2 item-card item-card-img text-center">
            <p class="h4">{{ this.datos.name }}</p>
            <mat-card-subtitle
              >Descripcion: {{ this.datos.description }}</mat-card-subtitle
            >
          </div>
          <div class="col-md-9 col-sm-11 item-card overflow-hidden">
            <div class="row row-cards">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel">
                <div
                  ngxSlickItem
                  class="col-md-3 slide"
                  *ngFor="let z of ejercicioRutina2 as Ejercicio"
                >
                  <div class="card profile-card-1">
                    <div class="card-content blockquote text-center">
                      <div class="card profile-card-1">
                        <img src="{{ z.image }}" alt="" class="background" />
                        <img
                          src="{{ z.image }}"
                          alt="profile-image"
                          class="profile"
                        />
                        <div class="card-content blockquote text-center">
                          <h2 class="">{{ z.name }}</h2>
                          <h3 class="blockquote-footer text-light">
                            {{ z.name }}
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <mat-divider></mat-divider>
        </div>
        <div class="row">
          <mat-chip-list>
            <div class="">
              <mat-label class="">Dificultad:</mat-label>
              <mat-chip class="bg-danger text-light me-2">{{
                this.datos.dificultad
              }}</mat-chip>

              <mat-label class="">Duración:</mat-label>
              <mat-chip class="bg-danger text-light me-2">{{
                this.datos.time
              }}</mat-chip>
            </div>
          </mat-chip-list>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="d-flex gap-5"></div>
    <div>
      <button class="btn btn-outline-primary" (click)="submitRutinaData()">
        Finalizar
      </button>
      <button matStepperPrevious class="btn btn-primary me-3">Back</button>
      <button (click)="stepper.reset()" class="btn btn-primary">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- 
<ul
  class="list-group mt-3"
  cdkDropList
  (cdkDropListDropped)="onDropped($event)"
>
<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #ejercicioList="cdkDropList"
    [cdkDropListData]="ejercicios$"
    [cdkDropListConnectedTo]="[rutinaList]"
    class="example-list"
    (cdkDropListDropped)="onDropped($event)">
    <div class="example-box" *ngFor="let item of ejercicios$ | async" cdkDrag>{{item}}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #rutinaList="cdkDropList"
    [cdkDropListData]="ejercicioRutina"
    [cdkDropListConnectedTo]="[ejercicioList]"
    class="example-list"
    (cdkDropListDropped)="onDropped($event)">
    <div class="example-box" *ngFor="let item of ejercicioRutina" cdkDrag>{{item}}</div>
  </div>
</div>




  <li
    class="list-group-item mx-3 mt-2 mb-2"
    *ngFor="let item of ejercicios$ | async"
    cdkDrag
  >
    <mat-card class="example-card mat-elevation-z24">
      <mat-card-header>
        <div
          mat-card-avatar
          [ngStyle]="{
            'background-image': 'url(' + item.image + ')',
            'background-size': 'cover'
          }"
        ></div>
        <mat-card-title>nombre: {{ item.name }}</mat-card-title>
        <mat-card-subtitle
          >descripcion: {{ item.description }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="mt-2">
        <img src="{{ item.image }}" alt="" width="150px" height="200px" />
        <p>imagen: {{ item.image }}</p>
        <p>tiempo: {{ item.time_rep }}</p>
        <mat-chip-list>
          <mat-label>Zonas:</mat-label>
          <mat-chip
            class="bg-danger text-light"
            *ngFor="let z of item.work_area | keyvalue"
          >
            {{ z.value }}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </li>
</ul> -->
